@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@import url("./markdown.css");

@layer components {
  .links {
    box-shadow: inset 0 0 0 0 #62d3cb;
    @apply text-white px-[6px];
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .links:hover {
    @apply text-gray-800;
    box-shadow: inset 100px 0 0 0 #62d3cb;
  }
  .title-mark {
    position: relative;
    cursor: pointer;
  }
  .title-mark::before {
    @apply bg-sky-500 absolute inset-0 transform;
    content: "";
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }
  .title-mark:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}
